<script defer src="./filemissing.js"></script>
<div id="userset" data-user="<%= JSON.stringify(user) %>">
  <%= user.name.username %>
</div>

<!-- /////////////////////////////// -->
<%-include("nav.ejs")%> <%-include("tos.ejs")%>
<br /><br />
<div class="container">
  <div id="filesdel" data-file="<%= JSON.stringify(data) %>"></div>

  <select
    id="mySelect"
    class="form-select"
    size="10"
    aria-label="size 3 select example"
  ></select>
</div>
