main
<div id="userset" data-user="<%= JSON.stringify(user) %>">
  <%= user.name.username %>
</div>

<!-- /////////////////////////////// -->
<%-include("nav.ejs")%> <%-include("tos.ejs")%>
<div
  class="offcanvas offcanvas-bottom"
  tabindex="-1"
  id="offcanvasBottom"
  aria-labelledby="offcanvasBottomLabel"
>
  <div class="offcanvas-header">
    <h6 class="offcanvas-title" id="offcanvasBottomLabel">
      Files Upload <%= user.name.username %>
    </h6>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body middle"><%-include("upload.ejs")%></div>
</div>
<!-- ////////////////////////////////// -->
<div id="pictures"></div>

<script type="module" src="./index.js"></script>

<style>
  .offcanvas {
    height: 50% !important;
  }
</style>
